/*QWidget*/ 
QWidget { color: white; font-size: 20pt; } 
#labelCL_Azimut, #labelCL_Distance, #labelCL_Time, #labelCL_Scale, #labelCL_P1, #labelCL_P2, #labelCL_Angle { color: red; font-size: 20pt;}

#doubleSpinBoxST_MapScale { color: black; font-size: 20px;}
#spinBoxST_StartSpeed { color: black; font-size: 20px;}