/*QWidget*/ 
QWidget { color: white; font-size: 20pt; } 
#labelCL_Azimut, #labelCL_Distance, #labelCL_Time, #labelCL_Scale, #labelCL_Point1, #labelCL_Point2, #labelCL_Angle { color: red; font-size: 20pt;}

#doubleSpinBoxST_MapScale, #spinBoxST_StartSpeed, #spinBoxST_ProjectileMass, #spinBoxST_ProjectileCaliber  { color: black; font-size: 20px;}
